<% include ../partials/header %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">YelpCamp</p>
      <div class="list-group">
        <li class="list-group-item">Info 1</li>
        <li class="list-group-item">Info 2</li>
        <li class="list-group-item">Info 3</li>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card ">
        <img class="card-image-top" src="<%= campground.image %>" />
        <div class="caption-full">
          <h3 style="display: inline;">
            <a href=""><%= campground.name %></a>
          </h3>
          <h5 style="float: right;">$9.00/night<h5>
          <p><%= campground.description %></p>
        </div>
        <div class="card-footer">
          <div class="text-right">
            <a
              href="/campgrounds/<%= campground._id %>/comments/new"
              class="btn btn-success"
              >Add New Comment</a
            >
          </div>
          <hr />
          <% campground.comments.forEach(function(comment){ %>
          <div class="row">
            <div class="col-md-12">
              <strong><%= comment.author %></strong>
              <p style="float: right;" class="text-right">10 days ago</p>
              <p><%= comment.text %></p>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>
